.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  border: 3px solid white;
  padding: 10px;
}

.answer {
  text-align: center;
  min-height: 3rem;
  padding: 10px;
  display: flex;
  gap: 10px;

  font-size: 2rem;
}

.answer__letter {
  width: 20px;
  border-bottom: 2px solid white;
}

.hit {
  color: green;
  border: 2px solid green;
}

.miss {
  color: red;
  border: 2px solid red;
}