<div class="game">
  <div class="game__number">Gra: {{ actualAnswerIndex + 1 }} / 5</div>
  <div class="game__number">Start: {{ startGameTime }}</div>
  <div *ngIf="showModal" class="game__number">Koniec: {{ endGameTime }}</div>
  
  <div *ngIf="showModal" class="">
    <p>{{ actualAnswerIndex !== 4 ? 'przegrałeś' : 'wygrałeś' }}</p>
    <p>Grałeś {{ gameTimeMin }}min </p>
    <button (click)="newGame()">nowa gra</button>
  </div>


  <div class="answer" *ngIf="answers[actualAnswerIndex] as currentAnswer">
    <div *ngFor="let letter of currentAnswer.word.split('') || []" class="answer__letter">
      <ng-container *ngIf="hitLetters.includes(letter) || showModal">
        {{ letter | uppercase }}
      </ng-container>
    </div>

    <!-- <p>słowo: {{ currentAnswer.word }}</p> -->
  </div>
  
  <div class="image">
    <img src="./assets/img/s{{missLetters.length}}.jpg" alt="">
  </div>

  <div class="letters">
    <button
      *ngFor="let letter of letters"
      [disabled]="showModal || hitLetters.includes(letter | lowercase) || missLetters.includes(letter| lowercase)"
      [class.hit]="hitLetters.includes(letter| lowercase)"
      [class.miss]="missLetters.includes(letter | lowercase)"
      (click)="hitLetter(letter.toLocaleLowerCase())"
      >
      {{ letter }}
    </button>
  </div>
</div>