body, p {
  margin: 0;
  padding: 0;
}

button, a {
  background-color: black;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: black;
}

button:disabled {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}